.movie-column,
.seat-column,
.slot-column {
  margin: 5px;
  padding: 0 15px;
  box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.movie-row,
.seat-row,
.slot-row {
  border-radius: 10px;
  border: 1px solid #3d3370;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  background: whitesmoke;
}

.title{
  margin: 5vh;
  margin-top: 4vh;
  padding: 3vh;
  background:aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #97949f;
  text-align: left;
  font-weight: bold;
  color: #524388;
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}


.d-flex {
  margin: 5vh;
  margin-top: 5vh;
  padding: 5vh;
  background: aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #97949f;
}

.seat-column {
  min-width: 100px;
  text-align: center;
  padding-bottom: 15px;
  border-color: #e5e5ed;
}

.book-button button {
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  color: white;
  background: linear-gradient(
    233deg,
    rgba(44, 209, 88, 1) 0%,
    rgba(44, 108, 224, 1) 100%
  );
  padding: 5px 15px;
  font-weight: 500;
}

.book-button button:hover {
  background-color: rgba(44, 209, 88, 0.5);
  cursor: pointer;
}

input {
  width: 50px;
  border-color: rgb(196, 196, 196);
  border-width: 1px;
}

.last-order {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.ticket {
  box-shadow: 0px 0px 2px 5px #a57ba8;
  width: auto;
}

a {
  color: black;
}
